@model mvcProyectoKeDulce.Modelos.Models.Producto
@{
    ViewData["Title"] = "Crear Producto";
}
<br />
<h3 class="text-center">Crear un nuevo Producto</h3>
<form method="POST" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 offset-1 border mt-4">
        <div asp-validation-summary="All" class="text-danger mt-1"></div>
        <div class="col-10 offset-1">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NombreProducto"></label>
                </div>
                <div class="col-8">
                    <input asp-for="NombreProducto" class="form-control" placeholder="Ingresa el nombre del Producto" />
                    <span asp-validation-for="NombreProducto" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Descripcion"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Descripcion" class="form-control" placeholder="Ingresa la descripción del Producto" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Precio"></label>
                </div>
                <div class="col-2">
                    <input type="number" asp-for="Precio" class="form-control" placeholder="Ingresa el precio del Producto" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ImagenUrl"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="archivos" id="subidaArchivo" class="form-control" />
                    <span asp-validation-for="ImagenUrl" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group-row">
                <div class="col-8">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>
        </div>

    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}