<!DOCTYPE html>
<html>
<head>
    <title>Cambiar Estado de Pedido</title>
</head>
<body>
    <h2>Estado del Pedido Actualizado</h2>
    <p>El estado del pedido ha sido actualizado correctamente.</p>
    <a asp-controller="GestionPedidos" asp-action="Index">Volver a la Lista de Pedidos</a>
</body>
</html>
